body {
    background: rgb(231, 186, 252);
    text-align: center;
}
#marvin img{
    height: 32%;
    width: 32%;
    align-items: center;
}
p {
    text-align: center;
}
.row .column{
    float: left;
    height: 32%;
    width: 32%;
    padding: 4px;
    display: block;
    padding-bottom: 30px;
    padding-right: 10px;
 }
 table, th, td {
    border: 1px solid black;
  }
  td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #threatening img{
    height: 28%;
    width: 28%;
    align-items: center;
  }
  .feedingTable {
      padding-bottom: 20px;
  }
  #feedhim img{
    height: 28%;
    width: 28%;
    float: left;
    display: block;
    padding-left: 120px;
    padding-bottom: 40px;
  }
  #wetfood img{
      padding-top: 15%;
      height: 14%;
      width: 14%;
      float: right;
      padding-right: 100px;
  }
  #crunchies img{
    padding-top: 12%;
    height: 14%;
    width: 14%;
    float: right;
    padding-right: 150px;
  }