body {
    background: rgb(231, 186, 252);
    text-align: center;
}
#marvin img{
    height: 40%;
    width: 40%;
    align-items: center;
}
.row .column{
    float: left;
    height: 32%;
    width: 32%;
    padding: 2px;
    display: block;
 }
 p {
     text-align: center;
 }